{% extends 'base.html.twig' %}

{% block title %}
    Les comptes utilisateurs
{% endblock %}

{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% block content %}
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                           Login
                        </th>
                        <th>
                            Date création
                        </th>
                        <th>
                            Par
                        </th>
                        <th>
                            Date derniere modif
                        </th>
                        <th>
                            Par
                        </th>
                        <th>
                            Actif
                        </th>
                        <th>Appartient à</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    {% for Comptes in Comptes %}
                        <tr>
                            <th>
                                {{ Comptes.Login }}
                            </th>
                            <td>
                                {{ Comptes.DateCreation|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ Comptes.Createur }}
                            </td>
                            <td>
                                {{ Comptes.DateModif|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ Comptes.Modificateur }}
                            </td>
                            <td>
                                {{ Comptes.Actif }}
                            </td>
                            <td>
                                {{ Comptes.Agents.Nom }} {{ Comptes.Agents.Prenom }} {{ Comptes.Agents.Matricule }}
                            </td>
                            <td><a href={{ path('compte', {'id': Comptes.id}) }}>Voir</a>
                            <a href={{ path('editCompte', {'id': Comptes.id}) }}>Editer</a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </div>
            <div>
                <a href={{ path('addCompte') }}>
                    Ajouter un compte
                </a>
            </div>
        {% endblock %}
    {% endblock %}
    